@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "bebas";
    src: local("bebas"),
        url("./fonts/BebasNeueBold.ttf") format("truetype");
}

@font-face {
    font-family: "josefine";
    src: local("josefine"),
        url("./fonts/NTJosefine.otf") format("truetype");
}

@font-face {
    font-family: "helvetica";
    src: local("helvetica"),
        url("./fonts/HelveticaNeue.ttc") format("truetype");
}

h1, h2 {
    font-family: "josefine";
}

h3 {
    font-family: "bebas";
}

.navlink, 
.navlinkDark {
    position: relative;
}

.navlink::after,
.navlinkDark::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 3px;
    transition: .5s;
    transform-origin: center;
    transform: scaleX(0);
}

.navlinkDark::after{
    background-color: #219EBC;
}

.navlink::after{
    background-color: #023047;
}

.navlink:hover::after,
.navlinkDark:hover::after {
    transform: scaleX(1);
}